.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/bin/
**/obj/
**/testdata/
tools/**
.github/**
.vscode-test-web/**
out/**
.vscode-test/**
node_modules/**
di-navigator.sln
readme.md
package-lock.json
analysis.md
